{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Desc</title>
</head>
<body style="background: url({% static 'post_note/pic3.jpg' %});background-repeat:no-repeat;background-size:cover;">
    <h2 style="font-style:sans=serif;color:red;font-size:30px;" align="center">Hello, {{user.name}}</h2>
    <div align="right"><a href="{% url 'user_home' user.id %}"><button style="background-color:brown;border:1px;color:white;font-size:20px;" type="submit">Go Back</button></a></div>
    <h2 style="font-style:sans=serif;color:blue;font-size:25px;" align="left">Add a post:</h2>
    <div style="font-size:20px;color:maroon;font-style:sans-serif;padding:40px 800px 50px 0px">
    <form method="post">
        <table>
            {{form}}
        </table>
        {% csrf_token %}<br>
        <button style="background-color:brown;border:1px;color:white;font-size:20px;" type="submit">Add</button>
    </form>
    </div>
</body>
</html>