{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body style="background: url({% static 'post_note/pic4.jpg' %});background-repeat:no-repeat;background-size:cover;">
    <u><h1 style="font-style:sans=serif;color:red;font-size:45px;" align="center">Register a new User:</h1></u>
    <div style="font-size:35px;color:pink;font-style:sans-serif;padding:40px 800px 50px 50px">
        <form method="post">
            <table>
                {{form}}
            </table>
            {% csrf_token %}
            <button style="background-color:black;border:1px;color:white;font-size:30px;" type="submit">Register</button>
        </form>
    </div>
</body>
</html>